build --action_env=CARGO_PKG_VERSION=mock --action_env=CARGO_PKG_AUTHORS=mock
run --action_env=CARGO_PKG_VERSION=mock --action_env=CARGO_PKG_AUTHORS=mock
test --action_env=CARGO_PKG_VERSION=mock --action_env=CARGO_PKG_AUTHORS=mock
